In [117]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('../data/processed/coca_cola.csv')

In [231]:
df.sample(2)

,video_id,video_title,video_link,video_views,publish_video_year,video_title_language,author_comment,comment,likes_comment,sentiment_comment,confidence_score
2287,yl2yYgYXabQ,A year to share,https://www.youtube.com/watch?v=yl2yYgYXabQ,43430797,2019,en,@magicalwizard9539,?????,0,neutral,0.520707
3704,ihYlbi7zG1s,"खुद को जगा, एक #ThandaLagaa | Coca-Cola",https://www.youtube.com/watch?v=ihYlbi7zG1s,5057544,2022,hi,@hariomkumarnagar425,Tum Bhi to ho special,0,neutral,0.814208

In [170]:
unique_title = df.drop_duplicates(subset='video_title')

In [233]:
top_videos_views = unique_title.sort_values(by='video_views', ascending=False).head(10).reset_index()
top_videos_views[['video_title', 'video_views', 'publish_video_year', 'video_title_language']]

,video_title,video_views,publish_video_year,video_title_language
0,Coca-Cola FanFeat – Junte seus ídolos no hit d...,59309407,2017,pt
1,Janhvi Kapoor is ready to feel the #RealMagic ...,45221620,2024,en
2,A year to share,43430797,2019,en
3,Coca-Cola | Gás de Ano Novo,27473632,2019,es
4,Un Mágico Agradecimiento: Se averió el trineo ...,27167922,2017,es
5,Coca-Cola | Toda crise a gente supera. Juntos.,26719366,2017,pt
6,Todos nós podemos ser Papai Noel| Coca-Cola | ...,26684948,2023,pt
7,Torcida | Coca-Cola,24363363,2018,es
8,Coke Zero? Great taste? Really?,24036282,2023,en
9,Gás da Festa | Coca-Cola,23724637,2020,gl

In [186]:
top_video_year = unique_title['publish_video_year'].value_counts().sort_values(ascending=False).reset_index()
top_video_year

   publish_video_year  count
0                2017     12
1                2018     12
2                2023      6
3                2021      5
4                2020      5
5                2019      4
6                2024      3
7                2022      3
8                2025      3
9                2016      1

In [182]:
top_videos_language = unique_title['video_title_language'].value_counts().reset_index()
top_videos_language

   video_title_language  count
0                    en     14
1                    es     10
2                    pt      7
3                    tr      6
4                    vi      5
5                    ro      2
6                    sv      2
7                    ga      1
8                    sl      1
9                    it      1
10                   sk      1
11                   gl      1
12                   da      1
13                   mr      1
14                   hi      1

In [230]:
sentiment_counts = df.groupby('video_title').agg(
    positive=('sentiment_comment', lambda x: (x == 'positive').sum()),
    neutral=('sentiment_comment', lambda x: (x == 'neutral').sum()),
    negative=('sentiment_comment', lambda x: (x == 'negative').sum())
)
sentiment_counts.head(2).reset_index()

                                  video_title  positive  neutral  negative
0                              #SienteElSabor        12       60         0
1  #SienteElSabor de la navidad con Coca-Cola         2       95         3

In [ ]:
top_positive_videos = sentiment_counts.sort_values(by='positive', ascending=False).head(10).reset_index()
top_positive_videos

,video_title,positive,neutral,negative
0,The Real Magic of Pujo,54,37,9
1,Uplifting Meetups happen over a chilled Coke!,40,56,4
2,Follow the bottle | Coca-Cola,37,61,2
3,Janhvi Kapoor is ready to feel the #RealMagic ...,34,55,11
4,Coca-Cola Orange Cream | We All Scream for Ora...,29,54,17
5,Happy 50 Bangladesh,27,31,6
6,"खुद को जगा, एक #ThandaLagaa | Coca-Cola",24,59,17
7,"Hasta La Vista - Luan Santana, Simone & Simari...",23,74,3
8,Coca-Cola® Obra de Arte,23,72,5
9,Coca-Cola Summer Film featuring Diljit Dosanjh,23,71,6

In [227]:
top_negative_videos = sentiment_counts.sort_values(by='negative', ascending=False).head(10).reset_index()
top_negative_videos

,video_title,positive,neutral,negative
0,The Holiday Magic is coming.,15,39,46
1,Time for a Coca-Cola Halftime,16,56,28
2,A year to share,5,75,20
3,"खुद को जगा, एक #ThandaLagaa | Coca-Cola",24,59,17
4,Coca-Cola Orange Cream | We All Scream for Ora...,29,54,17
5,Celebrate lights and delight. Share a Coke thi...,22,64,14
6,Janhvi Kapoor is ready to feel the #RealMagic ...,34,55,11
7,क्या ये बेस्ट Coke है? नया Coke Zero Sugar! | ...,16,57,10
8,Coke Zero? Great taste? Really?,17,43,10
9,The Real Magic of Pujo,54,37,9

In [228]:
top_neutral_videos = sentiment_counts.sort_values(by='neutral', ascending=False).head(10).reset_index()
top_neutral_videos

,video_title,positive,neutral,negative
0,Promoção #JunteETroque Coca-Cola Retornável,2,98,0
1,Un Mágico Agradecimiento: Se averió el trineo ...,0,98,2
2,Promo Destapa la magia,2,96,2
3,"Muhteşem Coca-Cola tadı, yeni tarz. #TadınıÇıkar",2,95,3
4,#SienteElSabor de la navidad con Coca-Cola,2,95,3
5,PROMOÇÃO CASA NOVA COM TUDO PRONTO PARA TORCER,5,95,0
6,Coca-Cola | Điều giản dị làm nên Tết diệu kỳ,5,94,1
7,Coca-Cola | Zero Açúcar Novo Sabor,5,94,1
8,"Öyle ya da böyle, muhteşem Coca-Cola tadıyla y...",6,93,1
9,Coca-Cola | Toda crise a gente supera. Juntos.,5,92,3